/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// ALLELE_SPECIFIC_CALLING
//

process {
    withName: '.*ALLELE_SPECIFIC_CALLING:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_biallelic" }
        ext.args = { '--genotype het --max-alleles 2 --min-alleles 2 --types snps' }
    }

    withName: '.*ALLELE_SPECIFIC_CALLING:BCFTOOLS_INDEX' {
        ext.args = { '--tbi' }
    }

    withName: '.*GATK4_ASEREADCOUNTER' {
        publishDir = [
            enabled: false
        ]
    }
}
