/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// BAM_QC
//

process {
    withName: '.*BAM_QC:PICARD_COLLECTRNASEQMETRICS' {
        ext.args = { [
            meta.strandedness.equals('unstranded') ? '--STRAND_SPECIFICITY NONE' : '',
            meta.strandedness.equals('forward') ? '--STRAND_SPECIFICITY FIRST_READ_TRANSCRIPTION_STRAND' : '',
            meta.strandedness.equals('reverse') ? '--STRAND_SPECIFICITY SECOND_READ_TRANSCRIPTION_STRAND' : ''
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/bam_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*BAM_QC:PICARD_COLLECTINSERTSIZEMETRICS' {
        ext.prefix = { "${meta.id}_insert_size" }
        publishDir = [
            path: { "${params.outdir}/bam_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
