/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// IGV_TRACKS
//

process {
    withName: '.*IGV_TRACKS:UCSC_WIGTOBIGWIG' {
        ext.when = { (!params.skip_build_tracks) }
        ext.args = { '-clip' }
    }

    withName: '.*IGV_TRACKS:JUNCTION_TRACK' {
        ext.when = { (!params.skip_build_tracks) }
    }

    withName: '.*IGV_TRACKS:TABIX_BGZIPTABIX' {
        ext.when = { (!params.skip_build_tracks) }
        ext.prefix = { "${meta.id}_junction" }
        ext.args2  = { '--preset bed' }
        publishDir = [
            path: { "${params.outdir}/ucsc" },
            mode: params.publish_dir_mode,
            // saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
