/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/tomte'
}

process {
    withName: 'DROP_SAMPLE_ANNOT' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }

    withName: 'DROP_CONFIG_RUN_AE' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }

    withName: 'DROP_CONFIG_RUN_AS' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }

    withName: 'DROP_PUT_TOGETHER_EXPORTED_COUNTS' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
