/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        'GRCh37' {
            fasta         = "${params.igenomes_base}/grch37_homo_sapiens_-gencode_pri-.fasta"
            fai           = "${params.igenomes_base}/grch37_homo_sapiens_-gencode_pri-.fasta.fai"
            gtf           = "${params.igenomes_base}/grch37_gencode_annotation_-v37-.gtf"
            star_index    = "${params.igenomes_base}/grch37_homo_sapiens_star"
            salmon_index  = "${params.igenomes_base}/grch37_homo_sapiens_salmon"
            subsample_bed = "${params.igenomes_base}/grch37_homo_sapiens_hemoglobin_noncanonical.bed"
        }
        'GRCh38' {
            fasta         = "${params.igenomes_base}/grch38_homo_sapiens_-gencode_pri-.fasta"
            fai           = "${params.igenomes_base}/grch38_homo_sapiens_-gencode_pri-.fasta.fai"
            gtf           = "${params.igenomes_base}/grch38_gencode_annotation_-v37-.gtf"
            star_index    = "${params.igenomes_base}/grch38_homo_sapiens_star"
            salmon_index  = "${params.igenomes_base}/grch38_homo_sapiens_salmon"
            subsample_bed = "${params.igenomes_base}/grch38_homo_sapiens_hemoglobin_noncanonical.bed"
        }
    }
}
