/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}

//
// Genome preparation options
//

process {

    withName: '.*PREPARE_REFERENCES:GUNZIP_FASTA' {
        ext.when = {params.fasta.endsWith(".gz")}
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*.{fasta,fa}"
        ]
    }

    withName: '.*PREPARE_REFERENCES:SAMTOOLS_FAIDX_GENOME' {
        ext.when = {!params.fai}
        ext.args2 = " --no-same-owner "
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*fai"
        ]
    }

    withName: '.*PREPARE_REFERENCES:BUILD_DICT' {
        ext.when = {!params.sequence_dict}
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*dict"
        ]
    }

    withName: '.*PREPARE_REFERENCES:GET_RRNA_TRANSCRIPTS' {
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: '.*PREPARE_REFERENCES:GET_CHROM_SIZES' {
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: '.*PREPARE_REFERENCES:UNTAR_STAR_INDEX' {
        ext.when = {params.star_index && params.star_index.endsWith(".gz")}
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: '.*PREPARE_REFERENCES:BUILD_STAR_GENOME' {
        ext.when = {!params.star_index}
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: '.*PREPARE_REFERENCES:GUNZIP_GTF' {
        ext.when = { params.gtf && params.gtf.endsWith(".gz") }
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*gtf"
        ]
    }

    withName: '.*PREPARE_REFERENCES:GTF_TO_REFFLAT' {
        ext.args = [
            '-genePredExt',
            '-geneNameAsName2'
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*refflat"
        ]
    }

    withName: '.*PREPARE_REFERENCES:BEDTOINTERVALLIST' {
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
        ]
    }

    withName: '.*PREPARE_REFERENCES:UNTAR_VEP_CACHE' {
        ext.when = { (params.vep_cache && params.vep_cache.endsWith("tar.gz")) }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*PREPARE_REFERENCES:GUNZIP_TRFASTA' {
        ext.when = { params.transcript_fasta && params.transcript_fasta.endsWith(".gz") }
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*.{fasta,fa}"
        ]
    }

    withName: '.*PREPARE_REFERENCES:GFFREAD' {
        ext.when = { (!params.transcript_fasta) }
        publishDir = [
            path: { "${params.outdir}/references" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
            pattern: "*.{fasta,fa}"
        ]
    }

    withName: '.*PREPARE_REFERENCES:SALMON_INDEX' {
        ext.when = {!params.salmon_index}
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: '.*PREPARE_REFERENCES:UNTAR_SALMON_INDEX' {
        ext.when = {params.salmon_index.endsWith(".gz")}
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

}

//
// Alignment options
//

process {
    withName: '.*ALIGNMENT:FASTP' {
        ext.args = [
            params.min_trimmed_length ? "--length_required ${params.min_trimmed_length}" : '',
            '--correction',
            '--overrepresentation_analysis'
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/trimming" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ALIGNMENT:STAR_ALIGN' {
        ext.args = [
            "--twopassMode ${params.star_two_pass_mode}",
            '--outReadsUnmapped None',
            '--outSAMtype BAM SortedByCoordinate',
            '--quantMode GeneCounts',
            '--outSAMstrandField intronMotif',
            '--peOverlapNbasesMin 10',
            '--peOverlapMMp 0.1',
            '--chimSegmentMin 12',
            '--chimJunctionOverhangMin 12',
            '--chimOutType WithinBAM',
            '--readFilesCommand gunzip -c',
            '--outWigType wiggle',
            '--outWigStrand Unstranded'
            ].join(' ')
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ALIGNMENT:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/trimming" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ALIGNMENT:SAMTOOLS_VIEW' {
        ext.args = { '--output-fmt cram --write-index' }
        ext.when = params.save_mapped_as_cram
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: '.*ALIGNMENT:RNA_DOWNSAMPLE' {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ALIGNMENT:SALMON_QUANT' {
        ext.args = [
            '--gcBias',
            '--validateMappings'
            ].join(' ')
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

//
// BAM_QC
//

process {
    withName: '.*BAM_QC:PICARD_COLLECTRNASEQMETRICS' {
        ext.args = { [
            meta.strandedness.equals('unstranded') ? '--STRAND_SPECIFICITY NONE' : '',
            meta.strandedness.equals('forward') ? '--STRAND_SPECIFICITY FIRST_READ_TRANSCRIPTION_STRAND' : '',
            meta.strandedness.equals('reverse') ? '--STRAND_SPECIFICITY SECOND_READ_TRANSCRIPTION_STRAND' : ''
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/bam_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

//
// ANALYSE_TRANSCRIPTS
//

process {
    withName: '.*ANALYSE_TRANSCRIPTS:DROP_COUNTS' {
        ext.when = {params.run_drop_ae}
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts/drop/AE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ANALYSE_TRANSCRIPTS:DROP_ANNOT' {
        ext.when = {params.run_drop_ae|params.run_drop_as}
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts/drop" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ANALYSE_TRANSCRIPTS:DROP_CONFIG_RUN_AE' {
        ext.when = {params.run_drop_ae}
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts/drop/AE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ANALYSE_TRANSCRIPTS:DROP_CONFIG_RUN_AS' {
        ext.when = {params.run_drop_as}
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts/drop/AS" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ANALYSE_TRANSCRIPTS:DROP_FILTER_RESULTS' {
        ext.when = {params.run_drop_ae|params.run_drop_as}
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts/drop" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ANALYSE_TRANSCRIPTS:STRINGTIE_STRINGTIE' {
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*ANALYSE_TRANSCRIPTS:GFFCOMPARE' {
        publishDir = [
            path: { "${params.outdir}/analyse_transcripts" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

//
// CALL_VARIANTS
//

process {
    withName: '.*CALL_VARIANTS_GATK:GATK4_SPLITNCIGARREADS' {
        ext.prefix = { "${meta.id}_splitncigar" }
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*CALL_VARIANTS_GATK:SAMTOOLS_INDEX' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*CALL_VARIANTS_GATK:GATK4_HAPLOTYPECALLER' {
        ext.args = [
            '--dont-use-soft-clipped-bases',
            '--create-output-variant-index',
            '--standard-min-confidence-threshold-for-calling 20'
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_gatk" }
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*CALL_VARIANTS_GATK:GATK4_VARIANTFILTRATION' {
        ext.args = [
            '--window 3',
            '--cluster 35',
            '--filter-name "QD" --filter-expression "QD < 2.0"',
            '--filter-name "FS" --filter-expression "FS > 30.0"'
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/call_variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*CALL_VARIANTS:BCFTOOLS_MPILEUP' {
        ext.args = '--max-depth 2000'
        ext.args2 = [
            '--variants-only',
            params.bcftools_caller_mode.equals('multiallelic')
                ? '--multiallelic-caller'
                : '--consensus-caller --pval-threshold 0.01',
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/call_variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*BCFTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/call_variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}

//
// ALLELE_SPECIFIC_CALLING
//

process {
    withName: '.*ALLELE_SPECIFIC_CALLING:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_biallelic" }
        ext.args = '--genotype het --max-alleles 2 --min-alleles 2 --types snps'
    }

    withName: '.*ALLELE_SPECIFIC_CALLING:BCFTOOLS_INDEX' {
        ext.args = '--tbi'
    }

    withName: '.*GATK4_ASEREADCOUNTER' {
        publishDir = [
            enabled: false
        ]
    }
}

//
// ANNOTATE_SNV
//

process {
    withName: '.*ANNOTATE_SNV:ENSEMBLVEP' {
        ext.prefix = { "${vcf.simpleName}_rohann_vcfanno_filter_vep" }
        ext.args   = [
            '--dir_plugins vep_cache/Plugins',
            '--plugin LoFtool,vep_cache/LoFtool_scores.txt',
            '--plugin pLI,vep_cache/pLI_values_107.txt',
            '--plugin SpliceAI,snv=vep_cache/spliceai_21_scores_raw_snv_-v1.3-.vcf.gz,indel=vep_cache/spliceai_21_scores_raw_snv_-v1.3-.vcf.gz',
            '--plugin MaxEntScan,vep_cache/fordownload,SWA,NCSS',
            '--distance 5000',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 248956422',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --no_stats --numbers',
            '--merged --polyphen p --protein --offline --regulatory --sift p --symbol --tsl',
            '--uniprot --vcf'
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/annotate_vep" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*ANNOTATE_SNV:TABIX_VEP' {
        publishDir = [
            path: { "${params.outdir}/annotate_vep" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

//
// IGV_TRACKS
//

process {
    withName: '.*IGV_TRACKS:UCSC_WIGTOBIGWIG' {
        ext.args   = '-clip'
    }

    withName: '.*IGV_TRACKS:JUNCTION_TRACK' {
        publishDir = [
            path: { "${params.outdir}/ucsc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*IGV_TRACKS:TABIX_BGZIPTABIX' {
        ext.args2   = '--preset bed'
        publishDir = [
            path: { "${params.outdir}/ucsc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
