/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genomic-medicine-sweden/tomte -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    // Input data
    input = "${projectDir}/test_data/samplesheet_chr21.csv"

    // Genome references
    genome             = 'GRCh37'
    fasta              = "${projectDir}/test_data/grch37_chr21.fa.gz"
    gtf                = "${projectDir}/test_data/grch37_chr21.gtf.gz"

    // Other parameters
    star_two_pass_mode   = 'None'
    subsample_bed        = "${projectDir}/test_data/subsample.bed"
    seed_frac            = 0.001
    num_reads            = 20000

    // VEP
    vep_cache            = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vep_cache_and_plugins.tar.gz"
    vep_filters          = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/hgnc.txt"
    vep_cache_version    = 107
    vep_plugin_files     = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vep_files.csv"

    // DROP
    reference_drop_count_file    = "${projectDir}/test_data/drop_data/geneCounts.tsv.gz"
    reference_drop_splice_folder = "${projectDir}/test_data/drop_data"
    reference_drop_annot_file    = "${projectDir}/test_data/drop_data/sampleAnnotation.tsv"
    gene_panel_clinical_filter   = "${projectDir}/test_data/drop_data/mock_gene_panel.tsv"
    drop_padjcutoff_ae           = 1
    drop_padjcutoff_as           = 1
    drop_zscorecutoff            = 2.5
}
