
process {
    withName: 'DROP_SAMPLE_ANNOT' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }

    withName: 'DROP_CONFIG_RUN_AE' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }

    withName: 'DROP_CONFIG_RUN_AS' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }

    withName: 'DROP_PUT_TOGETHER_EXPORTED_COUNTS' {
        container = 'docker.io/clinicalgenomics/drop:1.4.0_dev_hg19'
    }
}
