/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// Alignment options
//

process {

    withName: '.*GUNZIP_FASTA' {
        publishDir = [
            path: "results/references",
            mode: 'copy',
            pattern: "*.fa"
        ]
    }

    withName: '.*ALIGNMENT:FASTP' {
        ext.args = { [
            '--length_required 40',
            '--correction',
            '--overrepresentation_analysis'
        ].join(' ').trim() }
    }

    withName: '.*ALIGNMENT:STAR_ALIGN' {
        ext.args = { [
            '--twopassMode Basic',
            '--outReadsUnmapped None',
            '--outSAMtype BAM SortedByCoordinate',
            '--quantMode GeneCounts',
            '--outSAMstrandField intronMotif',
            '--peOverlapNbasesMin 10',
            '--peOverlapMMp 0.1',
            '--chimSegmentMin 12',
            '--chimJunctionOverhangMin 12',
            '--chimOutType WithinBAM',
            '--readFilesCommand gunzip -c',
            '--outWigType wiggle',
            '--outWigStrand Unstranded'
            ].join(' ') }
    }

    withName: '.*ALIGNMENT:SAMTOOLS_VIEW' {
        ext.args = { '--output-fmt cram,version=3.0' }
    }

    withName: '.*ALIGNMENT:SALMON_QUANT' {
        ext.args = { [
            '--gcBias',
            '--validateMappings'
            ].join(' ') }
    }
}
