/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// Genome preparation options
//

process {

    withName: '.*PREPARE_REFERENCES:GUNZIP_FASTA' {
        ext.when = { params.fasta && params.fasta.endsWith(".gz") }
    }

    withName: '.*PREPARE_REFERENCES:SAMTOOLS_FAIDX_GENOME' {
        ext.when = { !params.fai }
        ext.args2 = { '--no-same-owner' }
    }

    withName: '.*PREPARE_REFERENCES:BUILD_DICT' {
        ext.when = { !params.sequence_dict }
    }

    withName: '.*PREPARE_REFERENCES:GUNZIP_GTF' {
        ext.when = { params.gtf && params.gtf.endsWith(".gz") }
    }

    withName: '.*PREPARE_REFERENCES:UNTAR_STAR_INDEX' {
        ext.when = { params.star_index && params.star_index.endsWith(".gz") }
    }

    withName: '.*PREPARE_REFERENCES:BUILD_STAR_GENOME' {
        ext.when = { !params.star_index }
    }

    withName: '.*PREPARE_REFERENCES:GUNZIP_TRFASTA' {
        ext.when = { params.transcript_fasta && params.transcript_fasta.endsWith(".gz") }
    }

    withName: '.*PREPARE_REFERENCES:GTF_TO_REFFLAT' {
        ext.args = { [
            '-genePredExt',
            '-geneNameAsName2'
        ].join(' ').trim() }
    }

    withName: '.*PREPARE_REFERENCES:UNTAR_VEP_CACHE' {
        ext.when = { (params.vep_cache && params.vep_cache.endsWith(".gz")) }
    }

    withName: '.*PREPARE_REFERENCES:GFFREAD' {
        ext.when = { !params.transcript_fasta }
        ext.prefix = { "${params.genome}_gffread_output" }
        ext.args = { '-w' }
    }

    withName: '.*PREPARE_REFERENCES:UNTAR_SALMON_INDEX' {
        ext.when = { params.salmon_index.endsWith(".gz") }
    }

    withName: '.*PREPARE_REFERENCES:SALMON_INDEX' {
        ext.when = { !params.salmon_index }
    }

}
